li {
  list-style: none;
  padding: 20px;
}

.text-margin {
  margin: 10px
}

.container {
  background-color: rgb(230, 230, 230);


}

.title {
  color: rgb(70, 70, 70);
  font-weight: bold;
}

.edit {
  background-color: rgb(230, 230, 230);
  width: 500px;
}
